PORT=4000
MONGO_URI=mongodb://127.0.0.1:27017/e-ticket
SUPERADMIN_USERNAME=Abdujabbor
SUPERADMIN_PASSWORD=12345678
ACCESS_TOKEN_KEY=danggg_access
ACCESS_TOKEN_TIME=24h
REFRESH_TOKEN_KEY=danggg_refresh
REFRESH_TOKEN_TIME=60d
MAIL_HOST=smtp.gmail.com
MAIL_PORT=465
MAIL_USER=abdujabborsharobiddinov5@gmail.com
MAIL_PASS=omsuubzetsqyqbpd